.App{
    .sidebar{
        width: 16%;
        height: 100vh;
        z-index: 11;
        background-color: #191D2B;
        position: fixed;
        border-right: 1px solid #2e344e;
        transform-origin: left;

        @media screen and (max-width:1000px){
            transition: all .4s ease-in-out; 
            transform: translateX(-100%);
            width: 30%;
        }
        @media screen and (max-width:411px){
            width: 50%;
        }
        @media screen and (max-width:280px){
            width: 50%;
        }



        }

        .nav-toggle{
            @media screen and (max-width:1000px) {
                transition: all .4s ease-in-out; 
                transform: translateX(0);
                
            }
        }


    .main-content{
        width: 84%;
        margin-left: 16%;
        background-color: #10121B;
        min-height: 100vh;
        display: grid;
        position: relative;

        @media screen and (max-width:900px){
            width: 100%;
            margin: 0 ; 
            background-color: #10121B;
            min-height: 100vh;
            display: grid;
            position: relative;
            }
            @media screen and (max-width:800px){
                width: 100%;
                margin: 0 ; 
                background-color: #10121B;
                min-height: 130vh;
                display: grid;
                position: relative;
                }
                @media screen and (max-width:600px){
                    width: 110%;
                    margin: 0 ; 
                    background-color: #10121B;
                    min-height: 120vh;
                    display: grid;
                    position: relative;
                    }
                    @media screen and (max-width:500px){
                        width: 120%;
                        margin: 0 ; 
                        background-color: #10121B;
                        min-height: 120vh;
                        display: grid;
                        position: relative;
                        }
                        @media screen and (max-width:450px){
                            width: 140%;
                            margin: 0 ; 
                            background-color: #10121B;
                            min-height: 140vh;
                            display: grid;
                            position: relative;
                            }
                            @media screen and (max-width:300px){
                                width: 160%;
                                margin: 0 ; 
                                background-color: #10121B;
                                min-height: 160vh;
                                display: grid;
                                position: relative;
                                }
        .content{
            margin: 5rem 15rem;
            @media screen and (max-width:1000px){
                margin: 2rem 10rem;

            }
            @media screen and (max-width:650px){
                margin: 1rem 3rem;

            }
            @media screen and (max-width:500px){
                margin: 1rem 3rem;

            }
            
        }
   
       
       
        
    }
}

.nav-btn{
    position: absolute;
    z-index: 10 ;
    right: 10%;
    top: 10%;
    width: 5rem;
    height: 5rem;
    display: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;


    .lines-1,.lines-2,.lines-3{
        height: .4rem;
        width: 100%;
        background-color: #3858cc;
        pointer-events: none;
        display: none;
        border-radius: 20px;
        &:not(:last-child){
            margin-bottom: .4rem;
        }
    }

    @media screen and (max-width:1000px){
        display: block;
        .lines-1,.lines-2,.lines-3{
            display: block;
        }

    }


}